.has-background-acnh {
  background-color: #9cc947;
}

.has-background-acnh-photo {
  background-color: #f0ecdd;
}

.has-background-acnh-brown {
  background-color: #755732;
}

.is-wedding-font {
  font-family: 'Pacifico';
}
